export const ComponentTest = () => {
  return (
    <>
      <h1>Olá!</h1>
      <p>
        Template gerado automaticamente. Para cada arquivo, criei seu próprio
        template.
      </p>
    </>
  )
}
